@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-fixed {
  @apply fixed z-[9999] bg-white bg-opacity-60;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.hamburger-line {
  @apply w-[30px] h-[2px] my-2 block bg-dark;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

.line {
  @apply w-full h-[1px] my-2 block bg-dark;
}

.shopping-cart {
  z-index: 10;
  border-radius: 10px;
  position: fixed;
  border: 1px solid#2c2c2c;
  top: 12%;
  margin-bottom: 2rem;
  padding-bottom: 3rem;
  right: -250%;
  width: 30rem;
  padding: 0 1.5rem;
  background-color: #fff;
  color: var(--bg);
  transition: 0.3s;
}

.shopping-cart.active {
  right: 0;
}

.shopping-cart .cart-item {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #666;
  position: relative;
}

.shopping-cart img {
  height: 3.7rem;
  border-radius: 50%;
}

.shopping-cart h3 {
  font-size: 1.1rem;
  padding-bottom: 0.5rem;
}

.shopping-cart .item-price {
  font-size: 0.9rem;
}

.shopping-cart .remove-item {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

.shopping-cart .remove-item:hover {
  color: var(--primary);
}
